QLabel, QPushButton {
    font-family: Calibri;
}

QLabel#city_label {
    font-size: 40px;
    font-style: italic;
}

QLineEdit#city_input {
    font-size: 40px;
}

QPushButton#get_weather_button {
    font-size: 30px;
    font-weight: bold;
}

QLabel#temperature_label {
    font-size: 75px;
}

QLabel#emoji_label {
    font-size: 100px;
    font-family: "Segoe UI Emoji";
}

QLabel#description_label {
    font-size: 50px;
}

QLabel#error_label {
    color: red;
    font-size: 30px;
}